
  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: #ecf2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
   
.quotation {
  position: absolute;
  top: 54px;
  left: 760px;
  width: 80px;
  opacity:0.9;
}


  .page{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3, auto) 1fr;
    gap: 20px;
    max-width: 1440px;
    padding: 20px;
    
  }

  .daniel{
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #7541c8;
    grid-column: 1 / span 3;
    grid-row: 1;
   margin-left: 70px;

  }

  .daniel img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: solid 3px #9F79DB ;
     
  }

  .johnny{
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color:#48556a;
    grid-column: 4 / span 1;
    grid-row: 1;
}
   
  
  .johnny img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .jean{  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #48556a;
    grid-column: 1 / span 1;
    grid-row: 3;
    margin-left: 70px;

  }

  .jean img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .pat{
    padding: 20px; 
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #19212e;
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    
  }

  .pat img{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    margin-right: 15px;
    border: solid 2px #7541c8;

  }


  .kira{
    padding: 20px;
    border-radius: 10px;
    color: #48556a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    grid-column: 5 / span 1;
    grid-row: 1/span 3;
  

  }
  
  .kira img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }


  .barlow-semi-condensed-regular {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500, 600;
    font-style: normal;
  }

.Titulo{
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

.Name h3{
  margin: 0;
    font-size: 18px;
    font-weight: 600;

}

.Name p{
  margin: 0;
  font-size: 13px;
  color: #ffffff;
  opacity: 80%;
}

.Main{
  font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Description{
  font-size: 13px;
    line-height: 1.5;
    color: #ffffff;
    opacity: 75%;
    
}
  
#jean{
  color: #48556a;
}

#kira{
  color:#48556a;
}
